<p><%= @products.total_items %> total products</p>
<ul class="list clearfix">
  <% @products.each do |product| %>
    <li class="product">
      <a class="clip" href="<%= product.rels[:web].href %>">
        <% if product.has?(:image) %>
          <img src="<%= product.image.rels[:small].href %>" />
        <% else %>
          <img src="http://placehold.it/300x200" />
        <% end %>
      </a>
      <h4>[<%= product.status %>] <%= product.title %></h4>
      <p class="price">$<%= product.price %></p>
    </li>
  <% end %>
</ul>